.btn-requisition{
    display: block !important;
    margin: 0 auto !important;
}

.scroll-aquisition{
    height: 550px !important;
    overflow: scroll !important;
    overflow-x: hidden !important;
}

.icon-pointer{
    cursor: pointer !important;
    padding: 10px 10px !important;
}

#select-project{
    border-radius: 10px !important;
}