.stock {
  .progess{
    margin-top: 5px !important;
  }
  .btn-add-stock{
    background-color: #2980b9 !important;
    color: white !important;
  }
}

.ui.inverted.menu .active.item {
  color: white !important;
  border-bottom: 5px solid #f3ea21 !important;
} 

.ui.inverted.menu .active.item:hover{
  color: white !important;
}
