.email-checkbox {
    transform: scale(1) !important;
    -webkit-transform: scale(1) !important;
    -moz-transform: scale(1) !important;
    -ms-transform: scale(1) !important;
    -o-transform: scale(1) !important;
}

.check-container {
    padding-top: 25px !important;
}

.email-reset {
    padding-top: 40px;
}

.input-email {
    width: 100% !important;
}