.bg-container {
    // background-image: url('../../../assets/images/wallpaper.jpg');
}

.table-card {
    width: 99% !important;
}

.header-bg-color {
    background-color: #45aaf2 !important;
    color: white !important;
}

.role-text {
    text-align: center !important;
}


#footer-content {
    text-align: center !important;
    margin-top: 150px;
    font-size: 12px;
}

.blue-color {
    color: #45aaf2 !important
}

.style-role {
    padding-top: 60px !important;
}