.enabler-edit{
    text-align: center;
    font-size: 20px;
}

.form-edit-style{
    padding-top: 20px;
    width: 98% !important;
}

.btn-width-half{
    width: 30% !important;
}

.center-btn-edit{
    text-align: center !important;
    margin-top: 30px;
}
