.Card-violet {
    background-color: #6200ea  !important;
    color: white !important;
}

.Card-ember {
   background-color: #ffab00 !important;
   color: white !important;
}

.Card-gray {
   background-color: #bdbdbd !important;
   color: white !important;
}

.Card-green {
   background-color: #43a047 !important;
   color: white !important;
}

.style-dashbord-container{
    width: 80% !important;
}

.card-footer-text{
    color: #fff !important;
    float: right !important;
}

.card-number{
    font-size: 25px !important;
}

#scroll-dashbord {
        height: 700px;
        overflow-y: scroll !important;
        overflow-x: hidden !important;
}

.dashboard-padding{
    padding-top: 30px !important;
}