$blueText: #45aaf2;

.Navbar {
	width: 100% !important;
	.navbar-menu {
		background-color: #006266 !important;
	}

	.logo-lima {
		width: 18% !important;
		float: left !important;
		position: relative;
		bottom: 20px !important;
		left: 35px !important;
	}

	.text-bottom{
		position: absolute;
		bottom: 0;
		left: 0;
	}

	.div-left{
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.text-agriculture{
	 margin-top: 9px;
	 margin-left: 33px;
	 font-size: 13.5px;
	 margin-bottom: 20px;
	 color: #f3ea21;
	 font-weight: bold;
	}

	.bell {
		color: #fff !important;
	}

	.text-bottom {
		position: absolute;
		right: 113px;
		font-size: 13px;
		top: 50px;
		color: white !important;
	}

	.mini-menu-margin-text {
		position: absolute;
		left: 17%;
		border-left: 1px solid #eeeeee !important;
	}
	.btn-logout {
		display: block;
		margin: 0 auto;
		margin-bottom: 10px;
	}
   .left-back{
	   font-size: 13px !important;
   }

   .mini-navbar{
	  position: relative;
	  z-index: 0;
   }
}
