$blueText: #45aaf2;

.Navbar {
	width: 100% !important;
	.navbar-menu {
		background-color: #006266 !important;
	}

	.logo-lima {
		width: 15% !important;
		float: left !important;
		position: relative;
		bottom: 12px !important;
		left: 35px !important;
	}

	.div-left {
		float: left !important;
	}

	.bell {
		color: #fff !important;
	}

	.text-bottom {
		position: absolute;
		right: 113px;
		font-size: 13px;
		top: 50px;
		color: white !important;
	}

	.mini-menu-margin-text {
		position: absolute;
		left: 17%;
	}
	.btn-logout {
		display: block;
		margin: 0 auto;
		margin-bottom: 10px;
	}
   .left-back{
	   font-size: 13px !important;
   }

   .mini-navbar{
	  position: relative;
	  z-index: 0;
   }
}
