.Navbar {
    .navbar-menu {
        background-color: #006266 !important;
    }

    .logo-lima {
        width: 17% !important;
        float: left !important;
        position: relative;
        bottom: 12px !important;
        left: 35px !important;
    }

    .div-left {
        float: left !important;
    }
}