.excel-icon{
    margin-right: 20px !important;
}

.mileage{
    font-weight: bold !important;
}

.radio-balance{
    position: relative !important;
    bottom: 15px !important;
}

.bg-color-sheet{
    background-color: #079992 !important;
    color: #fff !important;
}

.bg-color-sheet2{
    background-color: #bbdefb !important;
    color: black !important;
}