.bg-color-sheet{
    background: #079992 !important;
    color: #fff !important;
}

.bg-color-sheet2{ 
    background: #e3f2fd  !important;
    color: #212121 !important; 
}

.row-height{
    height: 50px !important;
}

