$padding: 10px 0 10px 0;


.Sidebar-content {

    position: fixed;
    z-index: 1;
    top: 80px;
    left: 0;
    width: 17% !important;

    .sidebar-height {
        height: 110vh !important;
        /* z-index: 1001 !important; */
    }

    i {
        float: left !important;
        margin-right: 4px !important;
        color: white !important;
        font-size: 20px !important;
    }

    .sidebar-width {
        background-color: #079992 !important;
        width: 100% !important;
    }

    .icon-accordeon {
        float: right !important;
    }

    .sidebar-width div {
        font-size: 13px !important;
        color: white !important;
    }

    .sidebar-width div p {
        font-size: 13px !important;
    }

    .padding-side {
        padding-bottom: 20px !important;
        margin-top: 45px !important;
        color: white !important;
    }

    .icons-style {
        height: 33px !important;
        float: left !important;
    }

    .link-color {
        color: #fff !important;
    }

    .link-color:hover {
        color: #00e676 !important;
    }

    .text-side {
        padding: $padding !important;
    }

    .active {
        color: Black !important;
    }

    .stock-side-padding p{
       padding-top: 8px !important;
    }
}