.table-card {
	.left-padding {
		padding: 10px 10px 0px 10px !important;
	}

	#edit-scroll {
		height: 40px !important;
		overflow: hidden !important;
		/* overflow-x: hidden !important; */
		padding-bottom: 150% !important;
	}

	.header-bg-color {
		z-index: 1;
	}
	.icon-upload {
		cursor: pointer !important;
	}
}
