.table-card {
	.left-padding {
		padding: 10px 10px 0px 10px !important;
	}

	#edit-scroll {
		height: 85% !important;
		overflow: scroll !important;
		overflow-x: hidden !important;
	}

	.header-bg-color {
		z-index: 1;
	}
	.icon-upload {
		cursor: pointer !important;
	}
}
