.bg-container{
//    background-image: url('../../../assets/images/wallpaper.jpg');
}

.table-card{
     position: absolute;
     width: 81% !important; 
     top: 120px;
     left: 18%;
     z-index: -1 !important;
}

.header-bg-color{
    background-color: #45aaf2 !important;
    color: white !important;
}

.role-text{
    text-align: center !important;
}

.table-header{
    background-color: red !important;
}